<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link th:replace="/fragments/bootstrap-style :: bootstrap">
    <link th:replace="/fragments/bootstrap-style :: style">
    <link th:replace="/fragments/bootstrap-style :: font-awsome">
    <link th:replace="/fragments/bootstrap-style :: animate">
    <title>Home</title>
</head>
<body>
<div class="container">
    <header th:replace="/fragments/header-nav :: header"></header>
    <div class="container my-5 bg-dark animate__animated animate__bounceInRight">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-light">Create. Share. Connect.</h1>
                <p class="lead text-light">
                    Welcome to our platform where you can unleash your creativity, share your thoughts, and connect with
                    an inspiring community of users. Start sharing your unique journey today!</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" th:src="@{/images/hero.PNG}" alt="" width="720">
            </div>
        </div>
    </div>
    <div class="container px-4 py-5 bg-dark animate__animated animate__backInLeft" id="featured-3">
        <h2 class="pb-2 border-bottom text-light">Features</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                    <i class="fa-solid fa-right-to-bracket fa-fade" style="color: #ffffff;"></i>
                </div>
                <h3 class="fs-2 text-light">User Authentication and Authorization:</h3>
                <p class="text-light">Allow users to create accounts (sign up) and log in. Implement a secure
                    authentication system that verifies user credentials and provides appropriate access based on their
                    roles or permissions.</p>
                <a th:href="@{/signup}" class="icon-link d-inline-flex text-decoration-none link-info align-items-center text-warning">
                    Sign up now

                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                    <i class="fa-solid fa-user fa-fade" style="color: #ffffff;"></i>
                </div>
                <h3 class="fs-2 text-light">User Profile:</h3>
                <p class="text-light">Implement user profiles where users can view and edit their personal information,
                    including their username, bio, date of birth, and any other relevant details. Additionally, users
                    should be able to view their own posts and potentially edit or delete them from their profile.</p>
                <a th:href="@{'/profile/'+${username}}" class="icon-link d-inline-flex align-items-center text-decoration-none link-info text-warning">
                    Show Profile
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                    <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
                </div>
                <h3 class="fs-2 text-light">Post Creation and Viewing:
                </h3>
                <p class="text-light">Users Can Create posts and delete them also view another users posts</p>
                <a th:href="@{'/profile/'+${username}}" class="icon-link d-inline-flex text-decoration-none link-info align-items-center text-warning">
                    Your posts
                </a>
            </div>
        </div>
    </div>
</div>

<script th:replace="/fragments/scripts :: bootstrap"></script>
</body>
</html>