<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="/fragments/bootstrap-style :: bootstrap">
    <link th:replace="/fragments/bootstrap-style :: style">
    <link th:replace="/fragments/bootstrap-style :: font-awsome">
    <title>login</title>
</head>
<body>
<div class="container">
    <header th:replace="/fragments/header-nav :: header"></header>
</div>
<main class="w-100 m-auto" style=" max-width: 330px;
    padding: 1rem;">
    <form th:action="'/perform_login'" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input name="username" type="text" class="form-control" id="username" placeholder="Mohammad34">
            <label for="username">User Name</label>
        </div>
        <div class="form-floating mt-2 mb-2">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <p th:if="${param.error eq 'true'}" th:text="Incorrect username or password try again" class="text-danger"></p>
        <button class="btn btn-dark w-100 py-2" type="submit">Sign in</button>
    </form>
</main>
<script th:replace="/fragments/scripts :: bootstrap"></script>
</body>
</html>