<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="/fragments/bootstrap-style :: bootstrap">
    <link th:replace="/fragments/bootstrap-style :: style">
    <link th:replace="/fragments/bootstrap-style :: font-awsome">
    <title th:text="${username} + 'profile'"></title>
</head>
<body>
<div class="container">
    <header th:replace="/fragments/header-nav :: header"></header>
</div>
<div class="container">
    <div th:if="${Error}" class="row">
        <div class="col-md-12">
            <div class="alert alert-primary" th:text="${Error}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-column">
                <div class="wrap">
                    <h3>User Information</h3>
                    <hr>
                    <p><strong th:text="'User Name : ' + ${username}">Name:</strong></p>
                </div>
                <div class="wrap">
                    <a  id="follow" th:data-username="${username}"
                       onclick="followUser(this)"
                       class="btn w-100 btn-warning text-decoration-none">Follow</a>

                </div>

            </div>

            <div class="card">
                <img src="https://e7.pngegg.com/pngimages/550/997/png-clipart-user-icon-foreigners-avatar-child-face.png"
                     class="img-fluid" alt="...">
            </div>
        </div>

        <div class="col-md-8">
            <form id="profileForm" th:action="'/profile/' + ${username} + '/edit'" th:method="PUT">
                <div class="d-flex justify-content-between">
                    <h3>User Details</h3>
                    <button th:if="${username == #authentication.principal.username}" type="button" class="btn btn-dark"
                            id="editProfileButton">
                        Edit Profile
                    </button>
                </div>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <textarea class="form-control" id="bio" name="bio" th:text="${bio}" disabled></textarea>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">More Information</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                       th:value="${#strings.substring(dateOfBirth, 0, #strings.indexOf(dateOfBirth, ' '))}"
                                       disabled>
                            </li>
                            <li class="list-group-item">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       th:value="${firstName}"
                                       disabled>
                            </li>
                            <li class="list-group-item">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       th:value="${lastName}"
                                       disabled>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div th:if="${username == #authentication.principal.username}" class="col-md-4">
            <h3 class="text-dark mb-2">Post What's on your mind</h3>
            <form th:action="'/posts/create/'+ ${username}" method="post">
                <div class="mb-3">
                    <label for="postContent" class="form-label">Post Content</label>
                    <textarea class="form-control" id="postContent" name="body" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
        <div class="col-md-8">
            <h3 class="mt-3 text-success">User Posts</h3>
            <div th:each=" post : ${posts}" class="card border-2 border-black mt-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="container">
                            <p th:text="${post.body}" class="card-text px-2 text-bold fs-3 text-dark"></p>
                            <p th:text="'Created At : ' + ${post.createdAt}"
                               class="card-text px-2 text-bold text-dark"></p>
                        </div>
                        <form th:if="${username == #authentication.principal.username}"
                              th:action="'/post/delete/' + ${post.id}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn"><i class="fa-solid fa-trash" style="color: #fa0032;"></i>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="/fragments/scripts :: bootstrap"></script>
<script th:replace="/fragments/scripts :: editProfile"></script>
<script th:replace="/fragments/scripts :: follow"></script>
</body>
</html>